header{
    display: block;
    height: 55px;
    position:fixed ; 
    top: 0;
    right: 0;
}
header .section-left{
    height: 55px;
    width: auto;
    display: flex;
    justify-items: center;   
    align-items: center;  
}
header nav .nav-bar.is-active{
   
    right:-2px;
    margin-right: 0;
}

header nav .nav-bar{
    top: 23px;
    position: fixed;
    background-color:rgba(202, 194, 194, 0.9);
    z-index: 3;
    color:black;
    width: 100vw;
    height: 25vh;
    right: -200vh;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

header nav .nav-bar li{
    height: 5vh;
    text-align: center;
    font-size: 1rem;
    margin-right: 0;
}
header nav .nav-bar li a{
    color: black;
    font-size: 1.5rem;
}
header nav .nav-bar li a:hover{
    color: rgb(33, 33, 92);
    font-size: 1.5rem;
    text-decoration-line: underline;
}

main{
    width: 100vw;
}

.burger-button{
    display: block;
    top: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

main .main-home p:first-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main .main-Work{
    height: 120vh;
}
main .main-Work div{
    height: 50vh;
}

main .main-Work div div{
    width: 43vw;
    margin-right: 2vw;
}
main .main-About{
    display: block;
    height: 180vh;
}
main .main-About-container{
    height: 185vh;
}

main .main-About .main-About-container .personal-information{
    height: 110vh;
}
main .main-About-container .personal-information .information{
    display: block;
    width: auto;
    height: 33%;
}


main .main-About-container .personal-information .information .photo{
    display: flex;
    justify-content: center;
}
main .main-About-container .personal-information .skills{
    margin-top: 4vh;
    height:82vh;
}
main .main-About .main-About-container .About-me{
    height: 92vh;
}

footer{
    height: 15vh;
}

main .main-About .main-About-container .personal-information{
    display: block;
    height: 115vh;
    width: 75vw;
}

main .main-About .main-About-container .About-me{
    display: block;
    height: 50h;
    width: 75vw;
}

