header{
    height: 58px;
    position: fixed;
    top: 0;
}
header .section-left{
    height: 55px;
}
header nav .nav-bar{
    top: 42px;
}
.burger-button{
    top: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;

}
main .main-Home p:first-child{
    color: white;
    font-size: 5rem;
    position: relative;
}
main .main-Home p:nth-child(2){
    margin-top: 20px;
    color: white;
    font-size: 2.5rem;
    position: relative;
}
main .main-About{
    display: block;
    height: 230vh;
}
main .main-About-container{
    height: 230vh;
}

main .main-About .main-About-container .personal-information{
    height: 140vh;
}
main .main-About-container .personal-information .information{
    display: block;
    width: auto;
    height: 22%;
}

main .main-About-container .personal-information .information .photo{
    display: flex;
    justify-content: center;
}
main .main-About-container .personal-information .skills{
    height:82vh;
}
main .main-About .main-About-container .About-me{
    height: 92vh;
}

footer{
    height: 15vh;
}

footer .footer-left{
    width: 100%;
    text-align: center;
}
footer .footer-right{
    width: 100%;
    text-align: center;
}